.button-unique-back {
    -fx-background-color: linear-gradient(#4f2153, #292129);
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3), 10, 0.0, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.button-unique-back:hover {
    -fx-background-color: linear-gradient(#be12a7, #f494e7);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 15, 0.0, 0, 7);
}

.button-unique-back:pressed {
    -fx-background-color: linear-gradient(#fffdfc, #f6e5e2);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.7), 10, 0.0, 0, 5);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.quiz-style{
    -fx-background-color: linear-gradient(#e2dbe3, #cdbccd);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0.3,0.6), 10, 0.0, 0, 5);   
    -fx-font-weight: bold;
}

.lable{
    -fx-text-fill: rgb(180, 33, 33);
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.text-style {
    -fx-effect: dropshadow(one-pass-box, red, 10, 0.0, 10, 10);
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0);
}
.bt-st {
    -fx-background-color: linear-gradient(#25c52d, #62e09d);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3), 10, 0.0, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.bt-st:hover {
    -fx-background-color: linear-gradient(#12be32, #a6f494);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 15, 0.0, 0, 7);
}

.bt-st:pressed {
    -fx-background-color: linear-gradient(#c1f474, #c6e57c);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.7), 10, 0.0, 0, 5);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.text-style2{
    -fx-background-color: red;
    -fx-effect: dropshadow(one-pass-box, rgb(255, 94, 94), 20, 0, 0, 20);
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0);
}
.button-unique-text {

    -fx-effect: dropshadow(one-pass-box, rgba(102, 9, 9, 0.5), 15, 0.0, 0, 7);
}

.hbox-footer{

    -fx-background-color: rgb(13, 93, 115);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #baff31; /* Tomato color */
}
.hb-topic{
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(102, 9, 9, 0.5), 15, 0.0, 0, 7);
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}