.rounded-corners {
    -fx-background-radius: 50; /* Adjust the radius as needed */
    -fx-border-radius: 50; /* Ensure the border (if any) follows the rounded corners */
}

.text-field-custom {
    -fx-border-color: #ff6347; /* Tomato color */
    -fx-border-width: 3px; /* Set border width */
    -fx-background-radius: 10px; /* Optional: rounded corners */
    -fx-border-radius: 10px; /* Optional: rounded corners */
    -fx-padding: 5px; /* Optional: padding inside the TextField */
}
.text-field-custom2 {
    -fx-border-color: #315aff; /* Tomato color */
    -fx-border-width: 3px; /* Set border width */
    -fx-background-radius: 10px; /* Optional: rounded corners */
    -fx-border-radius: 10px; /* Optional: rounded corners */
    -fx-padding: 5px; /* Optional: padding inside the TextField */
}



.button-custom {
    -fx-font-size: 35px;
    -fx-background-color: linear-gradient(#ff7f50, #ff6347);
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px; /* Add padding for a better look */ 
}
.button-custom:hover {
    -fx-background-color: linear-gradient(#f94829, #ff4500); /* Change background on hover */
    -fx-text-fill: #f0e155; /* Change text color on hover */
}

/* styles.css */
.button-unique-login {
    -fx-background-color: linear-gradient(#ff7f50, #ff6347);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3), 10, 0.0, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.button-unique-login:hover {
    -fx-background-color: linear-gradient(#ff6347, #ff7f50);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 15, 0.0, 0, 7);
}

.button-unique-login:pressed {
    -fx-background-color: linear-gradient(#ff4500, #ff6347);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.7), 10, 0.0, 0, 5);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
